/* Copyright (c) 2012 Adobe Systems Incorporated. All rights reserved.  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at  http://www.apache.org/licenses/LICENSE-2.0  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
/* Copyright (c) 2012 Adobe Systems Incorporated. All rights reserved.  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at  http://www.apache.org/licenses/LICENSE-2.0  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
/* Copyright (c) 2012 Adobe Systems Incorporated. All rights reserved.  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at  http://www.apache.org/licenses/LICENSE-2.0  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
@font-face { font-family: "Source Sans Pro"; src: url("../font/SourceSansPro-Regular.otf"); }

@font-face { font-family: "source"; src: url("../font/SourceSansPro-Regular.otf"); font-weight: normal; font-style: normal; }

@font-face { font-family: "source-l"; src: url("../font/SourceSansPro-Light.otf"); font-weight: 300; font-style: normal; }

@font-face { font-family: "source-sb"; src: url("../font/SourceSansPro-Semibold.otf"); font-weight: 600; font-style: normal; }

/* Fonts
	100 = thin
	200 = extra-light
	300 = light
	400 = normal, book
	500 = medium
	600 = demi-bold
	700 = bold
	800 = heavy
	900 = black
*/
/* Icons
	pl = 23x23
	lg = 22x18
	wi = 20x13
	md = 18x18
	sm = 16x16
	xs = 13x13
*/
/* Fonts
	100 = thin
	200 = extra-light
	300 = light
	400 = normal, book
	500 = medium
	600 = demi-bold
	700 = bold
	800 = heavy
	900 = black
*/
/* Icons
	pl = 23x23
	lg = 22x18
	wi = 20x13
	md = 18x18
	sm = 16x16
	xs = 13x13
*/
.standard-structure { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0); border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; position: relative; text-decoration: none; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; }

.icon-structure { background-repeat: no-repeat; display: inline-block; vertical-align: top; }

.light-focus-style { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px rgba(0, 136, 255, 0.69); outline: none; }

.quiet-style { background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))); border: 1px solid rgba(0, 0, 0, 0.21); box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0); color: #454545; text-shadow: none; }

.quiet-hover-style { background-image: linear-gradient(top, #f9f9f9, #f9f9f9); background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9)); }

.quiet-down-style { background: #e5e7e7; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

.quiet-focus-style { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px 0 rgba(0, 136, 255, 0.69); outline: none; }

.dark-focus-style { border: 1px solid #000000; box-shadow: 0 0 4px rgba(0, 0, 0, 0.69); outline: none; }

.dark-quiet-style { background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))); border: 1px solid rgba(255, 255, 255, 0.21); box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0); color: #eff1f1; text-shadow: none; }

.dark-quiet-hover-style { background-image: linear-gradient(top, #555555, #555555); background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#555555)); }

.dark-quiet-down-style { background: #2b2d2d; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

.dark-quiet-focus-style { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px 0 rgba(0, 136, 255, 0.69); outline: none; }

.cta-style { background-image: linear-gradient(top, #4fa3e1, #237fcb); background-image: -webkit-gradient(linear, left top, left bottom, from(#4fa3e1), to(#237fcb)); border: 1px solid #014994; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.27); color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36); }

.cta-hover-style { background-image: linear-gradient(top, #5dafed, #3892de); background-image: -webkit-gradient(linear, left top, left bottom, from(#5dafed), to(#3892de)); }

.cta-down-style { background: #4290d1; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.12); text-decoration: none; }

.cta-focus-style { border: 1px solid #0940fd; box-shadow: 0 0 4px 0 rgba(0, 136, 255, 0.69); outline: none; }

body { color: #454545; font: 14px "source", helvetica, arial, sans-serif; margin: 0; padding: 0; -webkit-font-smoothing: subpixel-antialiased !important; text-rendering: optimizeLegibility; }

.disabled { cursor: default; opacity: 0.6; pointer-events: none; }

.bg-white { background: #fff; font-size: 12px; padding: 20px; }

.bg-lightgray { background: #dfe2e2; font-size: 12px; padding: 20px; }

.bg-slategray { background: #3a3f42 url("../img/bg_dark.png") repeat-x; color: #c7c7c7; font-size: 12px; padding: 20px; }

.bg-white .title { color: #000; font-size: 18px; font-weight: 300; }

.bg-lightgray .title { font-size: 18px; font-weight: 300; text-shadow: 0 1px 0 #fff; }

.bg-slategray .title { color: #fff; font-size: 18px; text-shadow: 0 -1px 0 #000000; }

.bg-slategray .group-label { color: #a4b4b7; font-size: 14px; text-shadow: 0 -1px 0 #000000; }

.large { font-family: source-sb !important; font-size: 14px !important; line-height: 27px !important; }

.button.large { height: 27px !important; margin: 0 10px 10px 0 !important; padding: 0 15px !important; }

.button.large.no-label { padding: 0 !important; }

.button.large.no-label i { margin-left: 6px; }

.text, .inline-block { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0); border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; position: relative; text-decoration: none; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; min-width: auto; max-width: auto; padding-left: 0; padding-right: 0; }

a { color: #0083e8; text-decoration: none; margin: 0 5px 0 0; }

a:active { text-decoration: underline; }

.link { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0); border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; position: relative; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; color: #0083e8; min-width: auto; max-width: auto; padding-left: 0; padding-right: 0; text-decoration: none; }

.link:active { text-decoration: underline; }

.link:focus { color: #0083e8; outline: none; text-shadow: 0 0 4px rgba(0, 136, 255, 0.69); }

.link.dark { color: #6bc3fa; }

.drop-down-triangle { background-image: url(../img/drop-down-triangle.png); background-repeat: no-repeat; display: inline-block; height: 6px; position: absolute; right: 6px; top: 9px; width: 9px; }

.drop-down-triangle.dark { background-image: url(../img/drop-down-triangle-dark.png) !important; top: 8px; right: 0; }

.large .drop-down-triangle { background-image: url(../img/drop-down-triangle.png); background-repeat: no-repeat; display: inline-block; height: 6px; position: absolute; right: 6px; top: 12px; width: 9px; }

.icon-xs { background-repeat: no-repeat; display: inline-block; vertical-align: top; background: #aaa; height: 13px; width: 13px; margin: 4px 4px 0 -3px; }

.icon-sm { background-repeat: no-repeat; display: inline-block; vertical-align: top; background: #aaa; height: 16px; width: 16px; margin: 5px 6px 0 -9px; }

.button, .button.disabled:hover, .button.disabled:active, .disabled.button.selected { background-clip: padding-box; border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; position: relative; text-decoration: none; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; user-select: none; -webkit-font-smoothing: antialiased !important; -webkit-touch-callout: none; -webkit-user-select: none; background-image: none, linear-gradient(top, #f5f8fa, #e3e5e5); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5)); background-position: center; background-repeat: none; border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 0 #ffffff; color: #454545; text-shadow: 0 1px 0 #ffffff; }

.button:hover { background-image: none, linear-gradient(top, #f8fafb, #edefef); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#edefef)); background-position: center; background-repeat: none; }

.button:active, .button.selected { background-color: #D3D7D7; background-image: none; background-position: center; background-repeat: none; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

.button:focus { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px rgba(0, 136, 255, 0.69); outline: none; }

.button.quiet, .button.quiet.disabled:hover, .button.quiet.disabled:active, .quiet.disabled.button.selected { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0); border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; position: relative; text-decoration: none; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))); border: 1px solid rgba(0, 0, 0, 0.21); box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0); color: #454545; text-shadow: none; }

.button.quiet:hover { background-image: linear-gradient(top, #f9f9f9, #f9f9f9); background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f9f9f9)); }

.button.quiet:active, .quiet.button.selected { background: #e5e7e7; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

.button.quiet:focus { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px 0 rgba(0, 136, 255, 0.69); outline: none; }

.button.dark, .button.dark.disabled:hover, .button.dark.disabled:active, .dark.disabled.button.selected { background-image: none, linear-gradient(top, #7a7c7c, #5f6060); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#7a7c7c), to(#5f6060)); background-position: center; background-repeat: none; border: 1px solid rgba(0, 0, 0, 0.8); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); color: #eff1f1; text-shadow: 0 -1px 0 #000000; }

.button.dark:hover { background-image: none, linear-gradient(top, #828585, #6a6b6b); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#828585), to(#6a6b6b)); background-position: center; background-repeat: none; }

.button.dark:active, .dark.button.selected { background-color: #2b2d2d; background-image: none; background-position: center; background-repeat: none; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

.button.dark:focus { border: 1px solid #000000; box-shadow: 0 0 4px rgba(0, 0, 0, 0.69); outline: none; }

.button.quiet.dark, .button.quiet.dark.disabled:hover, .button.quiet.dark.disabled:active, .quiet.dark.disabled.button.selected { background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)); background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0))); border: 1px solid rgba(255, 255, 255, 0.21); box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0); color: #eff1f1; text-shadow: none; }

.button.quiet.dark:hover { background-image: linear-gradient(top, #555555, #555555); background-image: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#555555)); }

.button.quiet.dark:active, .quiet.dark.button.selected { background: #2b2d2d; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

.button.quiet.dark:focus { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px 0 rgba(0, 136, 255, 0.69); outline: none; }

.button.no-label { padding: 0 0 0 8px; }

.button.drop-down { min-width: 70px; /*   overflow: visible;*/ padding: 0 30px 0 5px !important; position: relative; }

.menu { background: #ffffff; border-top: none !important; border-radius: 3px; box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3); font-size: 12px; left: 0px; margin: 0; overflow: hidden; padding: 3px 0 !important; position: absolute; top: 22px; min-width: 100%; z-index: 1000; }

.menu li { list-style: none; }

.menu li:last-child { border-radius: 3px; }

.menu a { color: #454545; display: block; outline: none; padding: 0 0 0 10px; text-shadow: none; }

.menu a:hover, .menu a:focus { background-color: #e0f0fa; }

.menu a:active { text-decoration: none; }

.dark .menu { border-top: none !important; }

.large .menu { border-top: none !important; top: 28px !important; }

.large.dark .menu { border-top: none !important; top: 28px !important; }

.button.drop-down.large { min-width: 100px; padding: 0 30px 0 10px !important; }

.button.drop-down.large .menu { top: 28px; }

.button-group { display: inline-block; vertical-align: top; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; overflow: visible; position: relative; }

.button-group .menu { left: 1px; top: 23px; }

.button.inside { border-left: 1px solid rgba(0, 0, 0, 0); border-right: 1px solid rgba(187, 187, 187, 0.8); border-radius: 0; margin: 0 0 0 -3px !important; }

.button.start { border-right: 1px solid rgba(187, 187, 187, 0.8); border-radius: 3px 0 0 3px !important; margin: 0; }

.button.end { border-left: 1px solid rgba(0, 0, 0, 0); border-radius: 0 3px 3px 0 !important; margin: 0 5px 5px -3px; }

.button.more { border-left: 1px solid rgba(0, 0, 0, 0); border-radius: 0 3px 3px 0 !important; margin: 0 5px 5px -3px; padding: 0; width: 20px; }

.button.inside.dark { border-left: 1px solid rgba(0, 0, 0, 0); border-right: 1px solid rgba(0, 0, 0, 0.1); border-radius: 3px 0 0 3px !important; margin: 0; }

.button.start.dark { border-right: 1px solid rgba(0, 0, 0, 0.1); border-radius: 3px 0 0 3px !important; margin: 0; }

.button-group.large { margin: 0 10px 10px 0 !important; }

.button-group.large .menu { top: 29px !important; }

.button.inside.large { margin: 0 0 0 -4px !important; }

.button.start.large { margin: 0 !important; }

.button.end.large { margin: 0 5px 5px -4px !important; }

.button.more.large { margin: 0 5px 5px -4px !important; padding: 0 !important; }

select.button { background-image: url(../img/pop-up-triangle.png), linear-gradient(top, #f5f8fa, #e3e5e5); background-image: url(../img/pop-up-triangle.png), -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5)); background-position: right; background-repeat: no-repeat; border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 0 #ffffff; color: #454545; text-shadow: 0 1px 0 #ffffff; height: 23px; min-width: 70px; padding: 0 30px 0 5px; -webkit-appearance: none !important; }

select.button:hover { background-image: url(../img/pop-up-triangle.png), linear-gradient(top, #f8fafb, #edefef); background-image: url(../img/pop-up-triangle.png), -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#edefef)); background-position: right; background-repeat: no-repeat; }

select.button:active, select.button.selected { background-color: #e5e7e7; background-image: url(../img/pop-up-triangle.png); background-position: right; background-repeat: no-repeat; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

select.button:focus { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px rgba(0, 136, 255, 0.69); outline: none; }

select.button.dark { background-image: url(../img/pop-up-triangle-dark.png), linear-gradient(top, #7a7c7c, #5f6060); background-image: url(../img/pop-up-triangle-dark.png), -webkit-gradient(linear, left top, left bottom, from(#7a7c7c), to(#5f6060)); background-position: right; background-repeat: no-repeat; border: 1px solid rgba(0, 0, 0, 0.8); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); color: #eff1f1; text-shadow: 0 -1px 0 #000000; height: 23px; min-width: 70px; padding: 0 30px 0 5px; -webkit-appearance: none !important; }

select.button.dark:hover { background-image: url(../img/pop-up-triangle-dark.png), linear-gradient(top, #828585, #6a6b6b); background-image: url(../img/pop-up-triangle-dark.png), -webkit-gradient(linear, left top, left bottom, from(#828585), to(#6a6b6b)); background-position: right; background-repeat: no-repeat; }

select.button.dark:active, select.dark.button.selected { background-color: #2b2d2d; background-image: url(../img/pop-up-triangle-dark.png); background-position: right; background-repeat: no-repeat; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); text-decoration: none; }

select.button.dark:focus { border: 1px solid #000000; box-shadow: 0 0 4px rgba(0, 0, 0, 0.69); outline: none; }

select.button.large { height: 29px !important; min-width: 70px; padding: 0 30px 0 10px !important; }

.button.cta, .button.cta.disabled:hover, .button.cta.disabled:active, .cta.disabled.button.selected { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0); border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; position: relative; text-decoration: none; text-overflow: ellipsis; text-align: center; vertical-align: top; white-space: nowrap; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; background-image: linear-gradient(top, #4fa3e1, #237fcb); background-image: -webkit-gradient(linear, left top, left bottom, from(#4fa3e1), to(#237fcb)); border: 1px solid #014994; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.27); color: #ffffff; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36); }

.button.cta:hover { background-image: linear-gradient(top, #5dafed, #3892de); background-image: -webkit-gradient(linear, left top, left bottom, from(#5dafed), to(#3892de)); }

.button.cta:active, .cta.button.selected { background: #4290d1; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.12); text-decoration: none; }

.button.cta:focus { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px rgba(0, 136, 255, 0.69); outline: none; }

/* Approx. Slider */
.approx-slider, table.paramsTable input[type=range] { background: #d4d7d7; border: 1px solid #babdbd; border-radius: 3px; display: inline-block; height: 3px; outline: none; width: 100px; cursor: pointer; -webkit-appearance: none !important; }

.approx-slider::-webkit-slider-thumb, table.paramsTable input[type=range]::-webkit-slider-thumb { background-image: none, linear-gradient(top, #f5f8fa, #e3e5e5); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5)); background-position: center; background-repeat: none; border: 1px solid rgba(0, 0, 0, 0.3); box-shadow: inset 0 1px 0 #ffffff; color: #454545; text-shadow: 0 1px 0 #ffffff; border-radius: 3px; height: 17px; width: 11px; -webkit-appearance: none !important; }

.approx-slider:focus::-webkit-slider-thumb, table.paramsTable input[type=range]:focus::-webkit-slider-thumb { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px rgba(0, 136, 255, 0.69); outline: none; }

.approx-slider.large, table.paramsTable input.large[type=range] { height: 5px; width: 140px !important; }

.approx-slider.large::-webkit-slider-thumb, table.paramsTable input.large[type=range]::-webkit-slider-thumb { height: 15px; width: 13px; }

.approx-slider.dark, table.paramsTable input[type=range] { background: #1f1f1f; border: 1px solid #000000; }

.approx-slider.dark::-webkit-slider-thumb, table.paramsTable input[type=range]::-webkit-slider-thumb { background-image: none, linear-gradient(top, #7a7c7c, #5f6060); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#7a7c7c), to(#5f6060)); background-position: center; background-repeat: none; border: 1px solid rgba(0, 0, 0, 0.8); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); color: #eff1f1; text-shadow: 0 -1px 0 #000000; }

.approx-slider.dark:focus::-webkit-slider-thumb, table.paramsTable input[type=range]:focus::-webkit-slider-thumb { border: 1px solid #000000; box-shadow: 0 0 4px rgba(0, 0, 0, 0.69); outline: none; }

/* Slide Switch */
.slide-switch { background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0); border-radius: 3px; display: inline-block; font-size: 12px; height: 21px; line-height: 21px; min-width: 15px; margin: 0 5px 5px 0; max-width: 150px; overflow: hidden; padding: 0 8px; text-decoration: none; text-overflow: ellipsis; vertical-align: top; white-space: nowrap; user-select: none; -webkit-touch-callout: none; -webkit-user-select: none; background-color: #ccc; border: 1px solid rgba(0, 0, 0, 0.3); font-family: source-sb; cursor: pointer; padding: 0; position: relative; width: 54px; }

.slide-switch input { display: none; }

.slide-switch input:checked + .wrapper { left: -38px; }

.slide-switch::focus { border: 1px solid rgba(9, 64, 253, 0.84); box-shadow: 0 0 4px rgba(0, 136, 255, 0.69); outline: none; }

.wrapper { display: block; height: 21px; position: relative; top: 0px; -moz-transition: left 0.2s ease-out; -webkit-transition: left 0.2s ease-out; transition: left 0.2s ease-out; width: 90px; z-index: 1; }

.switch, .on, .off { display: block; height: 21px; font-size: 12px; line-height: 21px; position: absolute; text-align: center; text-shadow: 0 1px 0 #ffffff; top: 0; }

.switch { background-image: linear-gradient(top, #f5f8fa, #e3e5e5); background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5)); border-left: 1px solid rgba(0, 0, 0, 0.3); border-right: 1px solid rgba(0, 0, 0, 0.3); border-radius: 3px; box-shadow: inset 0 1px 0 #ffffff; left: 37px; width: 16px; }

.on { background: #e0f0fa; border-top-left-radius: 3px; border-bottom-left-radius: 3px; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); color: #0083e8; width: 37px; }

.off { background: #e5e7e7; border-top-right-radius: 3px; border-bottom-right-radius: 3px; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); left: 55px; width: 37px; }

.slide-switch.dark { background-color: #2b2d2d; border: 1px solid rgba(0, 0, 0, 0.8); }

.dark .switch, .dark .on, .dark .off { text-shadow: 0 -1px 0 #000000; }

.dark .switch { background-image: linear-gradient(top, #7a7c7c, #5f6060); background-image: -webkit-gradient(linear, left top, left bottom, from(#7a7c7c), to(#5f6060)); border-left: 1px solid rgba(0, 0, 0, 0.8); border-right: 1px solid rgba(0, 0, 0, 0.8); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15); }

.dark .on { background: #2b2d2d; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); color: #56badf; }

.dark .off { background: #2b2d2d; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); color: #999; }

.slide-switch.large { height: 27px; width: 69px; }

.slide-switch.large .wrapper { display: block; height: 27px; position: relative; top: 0px; -moz-transition: left 0.2s ease-out; -webkit-transition: left 0.2s ease-out; transition: left 0.2s ease-out; z-index: 1; }

.slide-switch.large .switch, .slide-switch.large .on, .slide-switch.large .off { height: 27px; font-size: 14px; line-height: 28px; }

.slide-switch.large .switch { left: 47px; width: 21px; }

.slide-switch.large .on { width: 48px; }

.slide-switch.large .off { left: 70px; width: 48px; }

.slide-switch.large input:checked + .wrapper { left: -48px; }

/* Checkbox */
input[type=checkbox] { display: none; }

input[type=checkbox] + label { background: url("../img/checkbox_unchecked_dark.png") no-repeat 0 50%; display: inline-block; font-weight: 400; padding: 0 0 0 20px; }

input[type=checkbox]:checked + label { background: url("../img/checkbox_checked_dark.png") no-repeat 0 50%; display: inline-block; padding: 0 0 0 20px; }

input.dark[type=checkbox] + label { background: url("../img/checkbox_unchecked_dark.png") no-repeat 0 50%; display: inline-block; padding: 0 0 0 20px; }

input.dark[type=checkbox]:checked + label { background: url("../img/checkbox_checked_dark.png") no-repeat 0 50%; display: inline-block; padding: 0 0 0 20px; }

/* Spinner */
.spinner { -webkit-transition-property: -webkit-transform; -webkit-transition-duration: .75s; -moz-transition-property: -moz-transform; -moz-transition-duration: .75s; -webkit-animation-name: rotate; -webkit-animation-duration: .75s; -webkit-animation-iteration-count: infinite; -webkit-animation-timing-function: linear; -moz-animation-name: rotate; -moz-animation-duration: .75s; -moz-animation-iteration-count: infinite; -moz-animation-timing-function: linear; }

.spinner { display: inline-block; margin: 0 5px 5px 0; width: 16px; height: 16px; background: url(../img/spinner-sml.png) 50% no-repeat; background-size: 100%; }

.spinner.large { width: 36px; height: 36px; background: url(../img/spinner-lrg.png) 50% no-repeat; background-size: 100%; }

@-webkit-keyframes rotate { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotate { from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); } }

/* Swatch */
.swatch.large { border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 3px; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); height: 27px; width: 27px; }

/* End Swatch */
/* Text Field */
.text-field { border: 1px solid #a5a8a8; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); color: #000; font-family: "Source Sans Pro", "source", helvetica, arial, sans-serif; -webkit-border-radius: 4px; border-radius: 3px; font-size: 12px; font-weight: 400; height: 21px; line-height: 21px; margin: 0 3px 3px 0; padding: 0 4px; min-width: 150px; }

.text-field.large { font-size: 14px; padding: 1px 4px 0 4px; height: 27px; }

.text-field.dark, .config-panel .config-row input[type='text'], .config-panel .config-row input[type='number'] { background: rgba(255, 255, 255, 0.15); border: 1px solid rgba(0, 0, 0, 0.7); color: #fff; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); -webkit-border-radius: 4px; border-radius: 3px; font-size: 12px; font-weight: 400; height: 21px; line-height: 21px; margin: 0 3px 3px 0; padding: 0 4px; min-width: 80px; }

/* Error state before Focus state on purpose */
.text-field.error { border: 1px solid #ea015e; -webkit-box-shadow: 0 0 4px #ff0078; box-shadow: 0 0 4px #ff0078, inset 0px 1px 0px rgba(0, 0, 0, 0.15); }

.text-field.dark.error, .config-panel .config-row input.error[type='text'], .config-panel .config-row input.error[type='number'] { border: 1px solid #ea015e; -webkit-box-shadow: 0 0 4px #ff0078; box-shadow: 0 0 4px #ff0078, inset 0px 1px 0px rgba(0, 0, 0, 0.15); }

.text-field:focus { border: 1px solid #0940fd; -webkit-box-shadow: 0 0 4px #0088ff; box-shadow: 0 0 4px #0088ff; outline: none; }

.text-field.dark:focus, .config-panel .config-row input[type='text']:focus, .config-panel .config-row input[type='number']:focus { border: 1px solid #000; -webkit-box-shadow: 0 0 4px #222; box-shadow: 0 0 4px #222; outline: none; }

.text-field[disabled=disabled] { opacity: 0.6; }

/* End Text Field */
/* Breadcrumbs */
.breadcrumbs { list-style: none; margin: 0; padding: 0; }

.breadcrumbs li { background: url("../img/breadcrumb.png") no-repeat right 3px; color: #000; display: inline-block; font-size: 12px; font-weight: 400; line-height: 18px; margin: 0 3px 0 0; padding: 0 11px 0 0; }

.breadcrumbs li:last-child { background: none; }

.bg-slategray .breadcrumbs li { color: #fff; }

.breadcrumbs a { color: #888; text-decoration: none; }

.bg-slategray .breadcrumbs a { color: #bbb; }

/* End Breadcrumbs */
/* Copyright (c) 2012 Adobe Systems Incorporated. All rights reserved.  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at  http://www.apache.org/licenses/LICENSE-2.0  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
#filter-list { padding: 0px; margin: 0px; padding-bottom: 100px; }

#filter-list h2 { color: #777; margin: 10px 0 5px; padding: 0 0 0 10px; text-shadow: black 0px 1px 0px; font-size: 14px; font-weight: normal; }

#filter-list li { margin: 0; padding: 0; list-style: none; position: relative; color: white; padding: 4px; min-width: 20ex; text-align: left; font-size: 12px; font-weight: bold; padding-left: 5px; padding-top: 5px; padding-bottom: 5px; -webkit-transition-property: height, top, bottom, left, width; border-top: 1px solid transparent; border-bottom: 1px solid transparent; }
#filter-list li > li { margin: 0; padding: 0; }

#filter-list .loading { display: none; }

#filter-list li:hover { color: white; }

#filter-list li.current { border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.13); background: rgba(0, 0, 0, 0.24); }

#filter-list li .filter-name { color: #bbb; font-size: 1.2em; font-weight: normal; text-shadow: 0px 1px 1px #000; }

#filter-list li .delete-filter { border: none; float: right; position: relative; cursor: pointer; width: 16px; height: 16px; text-indent: -9999px; margin: -1px 5px 0 0; background: transparent url(../img/remove.png) center center no-repeat; }

#filter-list li .dragpoint { float: left; width: 10px; height: 16px; margin-right: 5px; background: url(../img/grabber.png) center 1px no-repeat; cursor: -webkit-grab; }

#filter-list .slide-toggle { padding: 0; margin: 0 10px 0 0; float: left; height: 16px; width: 8px; }

#filter-list li.dragging, #menu li.dragging .dragpoint { cursor: -webkit-grabbing; }

#filter-list li.dragging.current { background: #3b3f41; }

#filter-list li > .config { display: none; }

#filter-list li.current > .filter-name { color: #fff; /*    opacity: 1;
*/ }

#filter-list li.current > .config { display: block; }

#animations li:hover, .filter-stock .filter-item { cursor: pointer; }

.filter-stock .filter-item { padding: 5px 10px; }

.filter-stock .filter-item.loading { display: none; }

.filter-stock .filter-item:hover { background: rgba(255, 255, 255, 0.05); }
.filter-stock .filter-item:hover .filter-label { color: white; }

.filter-stock .filter-item.forked-filter.current { border-top: 1px solid rgba(0, 0, 0, 0.2); border-bottom: 1px solid rgba(255, 255, 255, 0.13); background: rgba(0, 0, 0, 0.24); }
.filter-stock .filter-item.forked-filter.current .filter-label { color: #fff; }

#filter-list #filter-list-empty { color: #aaa; font-weight: normal; padding: 15px; }

.filter-stock .filter-item { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orientation: horizontal; -moz-box-orientation: horizontal; -ms-box-orientation: horizontal; -o-box-orientation: horizontal; box-orientation: horizontal; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; -o-align-items: center; align-items: center; -webkit-transform: translate3d(0, 0, 0); }

.filter-stock .filter-item .filter-preview { width: 75px; height: 50px; margin: 0 15px 0 5px; background: url(../../images/shaderprincess.svg) center 6px no-repeat; background-size: 100%; }

.filter-stock .custom-filter .filter-preview { background-color: #3b3f41; }

.filter-stock .filter-item .filter-label { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; -o-box-align: center; box-align: center; max-width: 100px; color: #bfbfbf; text-shadow: 0px 1px 1px black; }

.filter-stock .filter-item .button-box { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; -o-box-align: center; box-align: center; -webkit-box-pack: end; -moz-box-pack: end; -ms-box-pack: end; -o-box-pack: end; box-pack: end; -webkit-flex: 0; -moz-flex: 0; -ms-flex: 0; -o-flex: 0; flex: 0; padding: 0 0 0 10px; }

.filter-stock .filter-item .button-box > a { opacity: 0.75; margin-left: 5px; padding: 0 5px 10px 5px; border-radius: 3px; }
.filter-stock .filter-item .button-box > a:hover { opacity: 1; box-shadow: 0 0px 2px rgba(0, 0, 0, 0.6); }

#animations-container { /* JS will make this visible if File API is available. */ display: none; }

#animations { display: none; position: absolute; padding: 0px; margin: 0px; }
#animations.menu { min-width: auto; }
#animations a { margin: 0; padding: 3px 5px 3px 10px; }
#animations a:hover { text-decoration: none; }
#animations .icon-remove { background-size: 70%; float: right; margin: -1px 0 0 5px; }
#animations li:first-child .icon-remove { display: none; }

#timeline { padding: 10px 15px 10px 15px; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; -o-box-align: center; box-align: center; overflow: hidden; box-sizing: border-box; border-top: 1px solid rgba(0, 0, 0, 0.13); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }
#timeline .title { color: #3b3f41; text-shadow: 0 1px 0 white; font-size: 12px; margin-right: 10px; }
#timeline .next, #timeline .prev, #timeline .toggle { width: 18px; height: 18px; cursor: pointer; text-indent: -9999em; margin-right: 0; }
#timeline .play { width: 38px; height: 27px; background: url(../img/play.png) center 5px no-repeat, -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), white); border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 3px; margin-top: -1px; margin-right: 8px; text-indent: -9999em; box-shadow: inset 0 1px 0 #ffffff; }
#timeline .play:hover { background-image: url(../img/play.png) center 5px no-repeat, linear-gradient(top, #f8fafb, #edefef); background-image: url(../img/play.png) center 5px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#f8fafb), to(#edefef)); cursor: pointer; }
#timeline .play.active { background: #e5e7e7 url(../img/pause.png) center 6px no-repeat; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); }
#timeline .next, #timeline .prev { background: url(../img/arrow.png) center center no-repeat; cursor: default; opacity: 0.6; pointer-events: none; margin-top: -2px; }
#timeline .next.active, #timeline .prev.active { background: url(../img/arrow.png) center center no-repeat; opacity: 1; pointer-events: auto; cursor: pointer !important; }
#timeline .prev { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -ms-transform: rotateY(180deg); -o-transform: rotateY(180deg); transform: rotateY(180deg); }
#timeline .next { margin-right: 10px !important; }
#timeline .toggle { margin: -1px 0 0; position: relative; width: 17px; border: 1px solid rgba(0, 0, 0, 0.3) !important; width: 13px; height: 13px; border-radius: 50px; border: 1px solid rgba(0, 0, 0, 0.24); box-shadow: inset 0 1px 0 1px white; background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), white); }
#timeline .toggle:after { position: absolute; top: -2px; left: 3px; width: 13px; height: 13px; text-indent: 0; content: "+"; color: #666; font-size: 14px; text-shadow: 0 1px 0 #fff; -webkit-font-smoothing: antialiased; }
#timeline .toggle.active:after { content: "-"; font-size: 22px; line-height: 14px; }
#timeline input[type="number"] { background: #fff; border-radius: 3px; width: 63px; height: 16px; padding: 2px; text-align: right; margin-left: 10px; margin-top: -4px; color: black; outline: none; border: 1px solid #a5a8a8; box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.1); }
#timeline input[type="number"]:focus { border: 1px solid #0940fd; -webkit-box-shadow: 0 0 4px #0088ff; box-shadow: 0 0 4px #0088ff; outline: none; }
#timeline .start { color: black; margin-right: 8px; }
#timeline .keyframe_wrapper { background: #D3D7D7; padding: 0 6px 0 4px; box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.7), 0 -1px 0 0 rgba(0, 0, 0, 0.15); border-radius: 3px; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
#timeline .keyframe_wrapper .keyframe_bar { box-sizing: border-box; position: relative; }
#timeline .keyframe_wrapper .keyframes_list { position: relative; height: 16px; }
#timeline .keyframe_wrapper .keyframe { cursor: -webkit-pointer; cursor: -moz-pointer; cursor: -ms-pointer; cursor: -o-pointer; cursor: pointer; width: 13px; height: 13px; border-radius: 50px; border: 1px solid rgba(0, 0, 0, 0.24); margin-left: -5px; position: absolute; }
#timeline .keyframe_wrapper .keyframe.active { width: 13px; height: 13px; border-radius: 50px; border: 1px solid rgba(0, 0, 0, 0.24); box-shadow: inset 0 1px 0 1px white; background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0), white); cursor: -webkit-grab; cursor: -moz-grab; cursor: -ms-grab; cursor: -o-grab; cursor: grab; }
#timeline .keyframe_wrapper .play_head { position: absolute; cursor: hand; margin-left: -5px; margin-top: -32px; width: 15px; height: 16px; background: url(../img/thumb.png) bottom center no-repeat; cursor: -webkit-grab; }
#timeline .keyframe_wrapper .play_head .laser { position: relative; display: block; height: 17px; width: 1px; margin: 14px auto 0; background: black; }

/* Syntax highligt ------------------------------------------------------------------------------- */
@font-face { font-family: "sourcecode"; src: url("../font/SourceCodePro-Regular.otf"); font-weight: normal; font-style: normal; }

pre, .code, .CodeMirror-lines * { font-family: "sourcecode", monospace; -webkit-font-smoothing: antialiased; }

.light .code { color: #3b3f41; font-size: 12px; }

.code { color: #000; padding: 15px; -webkit-touch-callout: auto; -webkit-user-select: auto; -khtml-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }
.code#filter-code { overflow-x: hidden; overflow-y: auto; }
.code > * { font-size: 1.05em; }
.code .css-property-name { width: 130px; }
.code .css-property-value { position: absolute; left: 150px; top: 15px; right: 15px; padding-bottom: 15px; }
.code .data-uri { display: inline-block; width: 200px; overflow: hidden; text-overflow: ellipsis; }
.code a { color: #8757ad; text-decoration: underline; }
.code .function-name { color: #446fbd; }
.code .function-name.custom { color: #446fbd; }
.code .parameter-name { color: #535353; }
.code .keyword { color: #446fbd; }
.code .parameter-value { color: #738d00; }
.code .parameter-unit { color: #000; }
.code .keyframe-percent { color: #000; }
.code .property-name { color: #000; }
.code .keyframe-content { margin-left: 20px; }

.config-panel { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; box-sizing: border-box; height: 100%; padding-top: 10px; }
.config-panel .config-row { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; position: relative; padding: 7px 10px; line-height: 23px; overflow-x: hidden; }
.config-panel .config-row label { display: block; width: 180px; -webkit-box-flex: 0; -moz-box-flex: 0; -ms-box-flex: 0; -o-box-flex: 0; box-flex: 0; -webkit-flex: none; -moz-flex: none; -ms-flex: none; -o-flex: none; flex: none; font-size: 13px; color: #bbb; text-align: right; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8); margin: 0 7px 0 0; }
.config-panel .config-row div.config-default-value { display: block; min-width: 200px; }
.config-panel .config-row input, .config-panel .config-row .value, .config-panel .config-row select { display: block; -webkit-box-flex: 0; -moz-box-flex: 0; -ms-box-flex: 0; -o-box-flex: 0; box-flex: 0; -webkit-flex: none; -moz-flex: none; -ms-flex: none; -o-flex: none; flex: none; }
.config-panel .config-row input[type='text'], .config-panel .config-row input[type='number'] { width: 60px !important; }
.config-panel .config-row select > option { color: black; }
.config-panel .config-row input.config-shader-name { width: 200px !important; }
.config-panel .config-row input[type='checkbox'] { display: none; }
.config-panel h4 { margin: 0 0 10px; padding: 5px 10px 5px 10px; color: white; font-size: 14px; font-weight: normal; text-shadow: 0px -1px 0 #000; background: rgba(0, 0, 0, 0.24); }
.config-panel .config-parameters-row { position: relative; margin: 15px; border-radius: 4px; box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8); padding: 0; }
.config-panel .config-parameter { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; background: rgba(255, 255, 255, 0.05); text-align: left; padding-bottom: 10px; }
.config-panel .config-parameters-wrapper { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; text-align: left; }
.config-panel .config-parameters-wrapper h4 { font-weight: normal; text-shadow: 0 -1px 0 #000; }
.config-panel .config-parameters { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; margin: 0px; padding: 0px; overflow: auto; }
.config-panel .config-parameters li { margin: 0; padding: 0; list-style: none; margin: 0px; padding: 2px 10px; cursor: pointer; color: #bbb; text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.8); font-size: 13px; }
.config-panel .config-parameters li > li { margin: 0; padding: 0; }
.config-panel .config-parameters li:hover { background: rgba(255, 255, 255, 0.05); }
.config-panel .config-parameters li.active { background: rgba(255, 255, 255, 0.05); color: white; }

.code-panel { position: relative; background: white; color: black; height: 100%; }
.code-panel .code-view { position: absolute; left: 0px; right: 0px; top: 0px; bottom: 0px; }

.code-editor { background: white; visibility: hidden; position: absolute; top: 0px; }
.code-editor .error-line { background: rgba(255, 0, 0, 0.7); color: white; /* Avoid borders because that will make the gutter jump. */ outline: 1px solid #be0000; }
.code-editor .error-bookmark { font-weight: bold; background: rgba(255, 0, 0, 0.5); }
.code-editor.active-shader-view { visibility: visible; }
body.wait-dock-layout .code-editor { display: none !important; }

#shader-errors > div { padding: 10px; }
#shader-errors .header { color: #bbb; text-shadow: 0 -1px 0 black; margin-top: 5px; }
#shader-errors .inline-shader-errors { -webkit-touch-callout: auto; -webkit-user-select: auto; -khtml-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; }
#shader-errors pre { margin: 0; font-size: 12px; }

.loader .progress-bar { border: 1px solid #333; height: 30px; }
.loader .progress-bar .progress-bar-interior { background: #ccc; width: 0%; height: 30px; }

/* Selection ------------------------------------------------------------------------------- */
::selection { background: #e0f0fa; color: #000; }

/* Scrollbars ------------------------------------------------------------------------------- */
::-webkit-scrollbar { height: 8px; width: 8px; }

::-webkit-scrollbar-track { background: rgba(0, 0, 0, 0.1); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); border-radius: 4px; -webkit-border-radius: 4px; }

::-webkit-scrollbar-thumb { border-radius: 4px; -webkit-border-radius: 4px; border: 1px solid rgba(255, 255, 255, 0.15); background: rgba(0, 0, 0, 0.3); box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0); }

::-webkit-scrollbar-thumb:window-inactive { background: rgba(0, 0, 0, 0.1); }

.icon { width: 16px; height: 16px; display: inline-block; vertical-align: middle; text-indent: -9999px; }

.icon-remove { background: transparent url(../img/remove.png) center 4px no-repeat; }

.icon-edit { background: transparent url(../img/edit.png) center 4px no-repeat; }

.icon-fork { background: transparent url(../img/fork.png) center 3px no-repeat; }

.icon-close { background: transparent url(../img/close.png) center center no-repeat; }

.slide-toggle { overflow: hidden; background: #1f1f1f; border: 1px solid black; position: relative; cursor: pointer; border-radius: 3px; }
.slide-toggle input { display: none; }
.slide-toggle input:checked + div { top: 8px; }
.slide-toggle div { top: 0; width: 100%; height: 100%; position: relative; -webkit-transition: top 0.1s ease-out; -moz-transition: top 0.1s ease-out; -ms-transition: top 0.1s ease-out; -o-transition: top 0.1s ease-out; transition: top 0.1s ease-out; }
.slide-toggle span { top: 0; width: 100%; height: 50%; display: block; background-image: none, linear-gradient(top, #7a7c7c, #5f6060); background-image: none, -webkit-gradient(linear, left top, left bottom, from(#7a7c7c), to(#5f6060)); border-radius: 2px; }

.slide-switch input:checked + .wrapper { left: -38px; }

#import-filter section { padding: 10px 20px; }
#import-filter p { color: #aaa; font-size: 12px; line-height: 1.3em; }
#import-filter label { display: block; margin: 0 0 5px 0; color: #a4b4b7; font-size: 12px; text-shadow: 0 -1px 0 #000000; }
#import-filter form { width: 100%; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; }
#import-filter form input[type='url'] { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
#import-filter form a { width: 40px; }
#import-filter .notice { display: none; }

.notice { padding: 10px 15px; margin: 10px 0; font-size: 14px; line-height: 1.4em; border-radius: 3px; box-shadow: 0 -1px 0 0 rgba(0, 0, 0, 0.5); }
.notice.error { background: #d6bec2; color: #a01919; }

#code-view-error { display: none; margin: 20px 20px; box-shadow: none; }

/* Copyright (c) 2012 Adobe Systems Incorporated. All rights reserved.  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at  http://www.apache.org/licenses/LICENSE-2.0  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
.panel-view { display: none; }

.panel-view.active { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; background: #3b3f41 url("../img/bg_dark.png"); background-repeat: repeat-x; display: block; border-top: 1px solid rgba(255, 255, 255, 0.15); color: white; z-index: 0; position: relative; overflow: hidden; }

.panel-view.active > :first-child { position: absolute; width: 100%; height: 100%; overflow: auto; top: 0px; left: 0px; margin: 0px; }

.panel-tab-list { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; -webkit-box-flex: 0; -moz-box-flex: 0; -ms-box-flex: 0; -o-box-flex: 0; box-flex: 0; -webkit-flex: none; -moz-flex: none; -ms-flex: none; -o-flex: none; flex: none; background: #2b2d2d; }

.panel-tab { border-radius: 4px 4px 0 0; padding: 5px 10px; border-top: 1px solid rgba(0, 0, 0, 0); border-right: transparent; color: #aaa; text-shadow: 0 1px 0 #000; font-size: 12px; cursor: pointer; white-space: nowrap; }
.panel-tab.active { background: #3b3f41 url("../img/bg_dark.png"); background-repeat: repeat-x; position: relative; z-index: 10; border-top: 1px solid #6a6a6a; border-bottom: 2px solid #494D4E; border-right: 1px solid #555; color: white; text-shadow: 0 -1px 0 #000; top: 1px; padding-top: 4px; }

.panel-container { z-index: 0; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; }

.panel-column { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; position: relative; }

.panel-column.horizontal, .panel-column.horizontal > .panel-column-items { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; }

.panel-column.vertical, .panel-column.vertical > .panel-column-items { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; }

.panel-column-header { -webkit-box-flex: 0; -moz-box-flex: 0; -ms-box-flex: 0; -o-box-flex: 0; box-flex: 0; -webkit-flex: none; -moz-flex: none; -ms-flex: none; -o-flex: none; flex: none; font-weight: bold; color: white; padding: 8px; background: #3b3f41; }

.panel-column-title { font-weight: normal; text-shadow: 0 -1px 0 #000; }

.panel-column-close-button { float: right; }

.panel-column-items { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; }

.panel-column.horizontal > .panel-column-items > .panel-separator { width: 1px; -webkit-box-flex: 0; -moz-box-flex: 0; -ms-box-flex: 0; -o-box-flex: 0; box-flex: 0; -webkit-flex: none; -moz-flex: none; -ms-flex: none; -o-flex: none; flex: none; background: #1f1f1f; border-right: 1px solid rgba(0, 0, 0, 0); border-left: 1px solid rgba(0, 0, 0, 0); cursor: col-resize; }

.panel-column.vertical > .panel-column-items > .panel-separator { height: 3px; -webkit-box-flex: 0; -moz-box-flex: 0; -ms-box-flex: 0; -o-box-flex: 0; box-flex: 0; -webkit-flex: none; -moz-flex: none; -ms-flex: none; -o-flex: none; flex: none; background: #1f1f1f; cursor: row-resize; }

/* trim down on needless resizing handles */
.panel-separator:first-of-type, .panel-column-handle { display: none; }

.light section { background: white; }
.light .panel-tab-list { background: #D4D7D7; border-bottom: 1px solid #c4c6c6; }
.light .panel-tab, .light .panel-view.active { background: #DFE2E2; border-top: 1px solid #DFE2E2; }
.light .panel-view.active { color: black; }
.light .panel-tab { border: none; color: #3b3f41; margin: -1px 0 0; text-shadow: 0 1px 0 white; background: none; border-right: none; }
.light .panel-tab.active { background: #DFE2E2; border-top: 1px solid #c4c6c6; border-right: 1px solid #c4c6c6; border-left: 1px solid #c4c6c6; border-radius: 4px 4px 0 0; box-shadow: inset 0 1px 0 #FFF; }
.light .panel-tab.active:first-child { border-left: none; }

#main-view .light .panel-separator { border: none; background: #bcbcbc !important; }

#active-filters { overflow-x: hidden; }

/* Copyright (c) 2012 Adobe Systems Incorporated. All rights reserved.  Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at  http://www.apache.org/licenses/LICENSE-2.0  Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License. */
table.paramsTable { border-collapse: collapse; border: none; margin: 6px 0; width: 100%; }
table.paramsTable td { border: none; height: 27px; line-height: 27px; color: #bfbfbf; font-weight: normal; font-size: 12px; padding: 1px 4px 1px 2px; text-shadow: 0px -1px 0 rgba(0, 0, 0, 0.8); vertical-align: middle; text-align: right; -webkit-font-smoothing: antialiased; }
table.paramsTable .field-column { text-align: left; }
table.paramsTable tr.field .multi-control-table { width: 100%; }
table.paramsTable tr.field td.field-label { padding: 0 6px 0 0; text-align: right; width: 75px; max-width: 75px; -webkit-text-overflow: ellipsis; -moz-text-overflow: ellipsis; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; overflow: hidden; }
table.paramsTable tr.field td.field-value-label { width: 65px; padding-right: 5px; text-align: left; }
table.paramsTable tr.header { font-weight: bold; background: rgba(0, 0, 0, 0.2); color: white; text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2); }
table.paramsTable .param-color-preview { cursor: pointer; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; width: 100%; height: 21px; margin: 10px 0 0 0px; border: 1px solid rgba(0, 0, 0, 0.8); border-radius: 3px; color: transparent; -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); -ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4); }
table.paramsTable .param-color-preview::-webkit-color-swatch-wrapper { display: none; }
table.paramsTable .warp-control { background-color: #202020; border-radius: 4px; border: 1px solid black; -webkit-box-shadow: inset 0 0 1px black; -moz-box-shadow: inset 0 0 1px black; -ms-box-shadow: inset 0 0 1px black; -o-box-shadow: inset 0 0 1px black; box-shadow: inset 0 0 1px black; }
table.paramsTable input[type=range] { width: 98%; }
table.paramsTable input[type=range].vertical { -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg); -webkit-transform-origin: 0 50%; -moz-transform-origin: 0 50%; -ms-transform-origin: 0 50%; -o-transform-origin: 0 50%; transform-origin: 0 50%; margin: 0 0 0 15px; }
table.paramsTable .value-label { text-align: left; margin: 0 0 0 3px; padding: 0 3px 0 2px; text-shadow: 0 1px 0 #000; font-size: 1.1em; cursor: pointer; text-decoration: underline; }
table.paramsTable .value-editor, table.paramsTable .param-color-editor { margin: 0 0 0 3px; height: 21px; -webkit-box-shadow: 0px 0px 3px 1px black; -moz-box-shadow: 0px 0px 3px 1px black; -ms-box-shadow: 0px 0px 3px 1px black; -o-box-shadow: 0px 0px 3px 1px black; box-shadow: 0px 0px 3px 1px black; outline: none; border: none; width: 100%; padding: 0 3px; border-radius: 3px; background: rgba(255, 255, 255, 0.15); color: #fff; text-align: left; }
table.paramsTable .param-color-editor { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; padding: 0 3px 0 3px; width: 55px; }
table.paramsTable .multi-control-table.param-color input[type='range'] { height: 5px; }
table.paramsTable .multi-control-table.param-color .range-r { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(245, 248, 250, 0.1))), -webkit-gradient(linear, left top, right top, from(black), to(red)); }
table.paramsTable .multi-control-table.param-color .range-g { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(245, 248, 250, 0.1))), -webkit-gradient(linear, left top, right top, from(black), to(lime)); }
table.paramsTable .multi-control-table.param-color .range-b { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(245, 248, 250, 0.1))), -webkit-gradient(linear, left top, right top, from(black), to(blue)); }
table.paramsTable .multi-control-table.param-color .range-a { background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(245, 248, 250, 0.1))), -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(white)), -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.4)), to(rgba(245, 248, 250, 0.4))), url(../img/color_bg.png); }

body { font: 14px "Source Sans Pro", "source", helvetica, arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { color: #000; font-family: "Source Sans Pro", "source-l", helvetica, arial, sans-serif; margin: 0; font-weight: 400; -webkit-font-smoothing: antialiased; }

html, body { width: 100%; height: 100%; overflow: hidden; margin: 0; padding: 0; }

/* let link be links */
a:not([class~="button"]):hover { text-decoration: underline; }

#components, #main-view, .popup { display: none; }

#main-view, #loading { width: 100%; height: 100%; }

#loading > div { position: absolute; left: 40px; right: 40px; bottom: 45%; text-align: center; font-weight: bold; font-size: 2em; background: #ccc; border: 2px solid gray; border-radius: 20px; }

.popup { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.3); z-index: 2000; }
.popup p, .popup li { line-height: 1.3em; padding-right: 15px; }
.popup p a, .popup li a { margin: 0; }
.popup ul { padding-left: 20px; }
.popup li + li { margin-top: 5px; }
.popup .icon-close { float: right; margin: -15px -20px 0 0; }

.popup .popup-inner :last-child { margin-bottom: 0; }

.popup .popup-inner { margin-left: auto; margin-right: auto; width: 500px; margin-top: -100px; margin-left: -250px; background: white; border-radius: 4px; border: none; padding: 30px 35px; box-shadow: 0 15px 36px rgba(0, 0, 0, 0.6); position: absolute; top: 50%; left: 50%; z-index: 1999; }

#logo, #animations-container { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-align: center; -moz-box-align: center; -ms-box-align: center; -o-box-align: center; box-align: center; padding: 5px 10px 0 15px; box-sizing: border-box; overflow: hidden; -webkit-justify-content: space-between; }
#logo h1, #logo h2, #logo h3, #animations-container h1, #animations-container h2, #animations-container h3 { color: white; font-size: 24px; text-shadow: 0 -1px 0 black; }
#logo > .title.left, #animations-container > .title.left { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; margin: -6px 0 0; }
#logo .experiment, #animations-container .experiment { display: inline-block; background: url(../img/stamp1.png) no-repeat; position: relative; left: 2px; top: 2px; width: 78px; height: 27px; text-indent: -9999px; }
#logo .button.drop-down, #animations-container .button.drop-down { min-width: 50px; text-indent: 2px; overflow: ellipsis; }
#logo #active-animation, #animations-container #active-animation { min-width: 140px; }

#logo { border-bottom: 1px solid rgba(0, 0, 0, 0.36); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.11); }

#animations-container { overflow: hidden; background: #fff; border-bottom: 1px solid #fff; box-shadow: none; }
#animations-container h1, #animations-container h2, #animations-container h3 { margin: 0 auto; }

.container { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; height: 100%; }
.container .content { -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; }
.container footer { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ height: 15px; padding: 15px; height: auto; margin: auto auto 0 auto; border-top: 1px solid #d7d7d7; }
.container aside { width: 20%; min-width: 200px; }
.container section { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; -webkit-flex: 1; -moz-flex: 1; -ms-flex: 1; -o-flex: 1; flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -ms-box-flex: 1; -o-box-flex: 1; box-flex: 1; }

.nav { margin: 0; padding: 0; list-style: none; display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: horizontal; -moz-box-orient: horizontal; -ms-box-orient: horizontal; -o-box-orient: horizontal; box-orient: horizontal; -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; -o-flex-direction: row; flex-direction: row; margin: auto 0; }
.nav > li { margin: 0; padding: 0; }
.nav li + li { margin-left: 15px; }
.nav.left { min-width: 320px; }

.panel-right { position: absolute; right: 15px; top: 0px; bottom: 0px; left: 320px; overflow: hidden; }
.panel-right .nav { position: absolute; right: 0px; top: 13px; min-width: 200px; }
body.hosted-version .panel-right { right: 74px; }

.modal { box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.4); width: 50%; height: 50%; min-width: 600px; position: absolute; top: 25%; left: 25%; }
.modal footer { padding: 10px 15px; -webkit-box-pack: end; -webkit-justify-content: flex-end; }

aside { min-width: 250px; }

#app { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#filter-dock { box-shadow: 0 3px 15px 3px rgba(0, 0, 0, 0.4); width: 350px; height: 70%; top: 0; position: absolute; margin: 0 0 0 -43px; z-index: 1000; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

#filter-dock.hidden { display: none; }

.clicks-catcher { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

#main { box-sizing: border-box; padding-top: 30px; background: #f8f8f8; }

#container { -webkit-touch-callout: auto; -webkit-user-select: auto; -khtml-user-select: auto; -moz-user-select: auto; -ms-user-select: auto; user-select: auto; border-radius: 3px; height: 290px; width: 600px; color: white; position: absolute; left: 50%; top: 50%; margin: -280px 0 0 -340px; font-size: 16px; padding: 40px; border: none; outline-offset: -15px; background: #263F51; background-image: url(../../images/bottomscene.png); background-position: center bottom; background-repeat: no-repeat; padding-bottom: 200px; }
#container p { line-height: 22px; }
#container .content-link { color: yellow; }
#container #multi-col { -webkit-column-count: 2; -moz-column-count: 2; -ms-column-count: 2; -o-column-count: 2; column-count: 2; -webkit-column-gap: 2em; -moz-column-gap: 2em; -ms-column-gap: 2em; -o-column-gap: 2em; column-gap: 2em; height: 400px; }
#container #multi-col h2 { color: #60C5DF; font-size: 32px; margin: 0px; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); }
#container #svg-img { display: block; position: absolute; right: 20px; top: 100px; }
#container #png-img { display: block; margin: auto; margin-bottom: 2em; }
#container #css3-img { position: absolute; display: block; border: 6px solid #33ccff; background: white; border-radius: 45px; padding: 10px; width: 30px; height: 30px; bottom: -30px; right: 20px; }

.filters-not-supported { margin: -1px 0 0; padding: 10px; background: #5b5e5f; color: white; font-size: 12px; border-top: 1px solid rgba(255, 255, 255, 0.05); border-bottom: 1px solid #444; }
.filters-not-supported .filters-not-supported-help { color: #4acdfd; }

#github-popup .state, #github-popup .gist-login-failed { display: none; }
#github-popup.info .state.gist-info, #github-popup.login .state.gist-login, #github-popup.login-failed .gist-login-failed, #github-popup.saving .state.gist-saving, #github-popup.saved .state.gist-result { display: block; }
#github-popup #gist-link { display: block; padding-top: 5px; }

.drop-down, .drop-down:hover { background-image: url(../img/drop-down-triangle.png), linear-gradient(top, #f5f8fa, #e3e5e5); background-image: url(../img/drop-down-triangle.png), -webkit-gradient(linear, left top, left bottom, from(#f5f8fa), to(#e3e5e5)); background-position: 96% 57%; background-repeat: no-repeat; cursor: pointer; }

.drop-down:active { background-image: url(../img/drop-down-triangle.png); background-color: #D3D7D7; box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.06); }

#post-gist-button { position: absolute; right: 35px; top: 6px; }

.popup section { float: left; width: 44%; border-right: 1px solid #ddd; padding-right: 4%; margin-right: 6%; margin-top: 10px; }
.popup section + section { margin-right: 0; padding-right: 0; border: none; }
.popup section strong { font-family: source-sb; }
.popup section ol { padding-left: 20px; }
.popup section h3 { font-size: 20px; padding-left: 30px; }

#browser-popup .popup-inner { width: 700px; margin-left: -350px; margin-top: -200px; }
#browser-popup .popup-inner li { padding-right: 0; }
#browser-popup .popup-inner section:after { position: absolute; top: 55%; left: 46.5%; background: white; padding: 7px 0; font-style: italic; font-family: source-l; -webkit-font-smoothing: antialiased; content: "or"; text-align: center; color: gray; font-size: 2em; }
#browser-popup .popup-inner section + section:after { content: none; }

#help-popup { display: -webkit-box; display: -moz-box; display: -ms-box; display: -o-box; display: box; /* Flex needs to be last, so that we use the new flex-box when it's available */ /* FIXME: Disable the new flex box for now. It seems like stable versions of Chromium don't have the whole implementation yet. */ /* @include prefixValue(display, flex); */ -webkit-box-orient: vertical; -moz-box-orient: vertical; -ms-box-orient: vertical; -o-box-orient: vertical; box-orient: vertical; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; -o-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -webkit-box-align: center; }
#help-popup .popup-inner { margin: 0; height: 400px; position: relative; top: auto; left: auto; right: auto; bottom: auto; }
#help-popup article { margin-top: 25px; max-height: 250px; overflow-y: auto; }
#help-popup article .button { vertical-align: middle; margin-left: 5px; }

#help-popup.hidden { display: none; }

#fork-github a.button { margin: 5px; }
